<p-toast></p-toast>
<div class="admin-page">
    <p-card header="products" subheader="List of all products">
        <div class="p-grid">
            <div class="p-col-12"><!--"firas halouani"-->
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button label="New" icon="pi pi-plus" styleClass="p-button-warning" routerLink="form"></p-button>
                    </div>
                </p-toolbar>
            </div><!--"firas halouani"-->
        </div><br>
        <div class="p-grid">
            <div class="p-col-12">
                <p-table [paginator]="true" [rows]="5" [value]="products" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Category</th>
                            <th>Created at</th>
                            <th></th>
                        </tr><!--"firas halouani"-->
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr><!--"firas halouani"-->
                            <td>{{product.name}}</td>
                            <td><img [src]="product.image" alt="" style="width: 40px;"/></td>
                            <td>{{product.price}}</td>
                            <td>{{product.countInStock}}</td>
                            <td>{{product.category.name}}</td>
                            <td>{{product.dateCreated | date:'short'}}</td>
                            <td>
                                <p-button (click)="deleteProduct(product.id)" icon="pi pi-trash " styleClass="p-button-danger mr-2"></p-button>
                                <p-button (click)="updateProduct(product.id)" icon="pi pi-pencil" styleClass="p-button-help"></p-button>
                            </td>
                        </tr>
                    </ng-template><!--"firas halouani"-->
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<!--"firas halouani"-->